<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Magnify Designs</a></h1>
        </div>

        <div>
            <h2><a href="">We Magnify</a></h2>
            <p>Since the global pandemic began, We have delivered innovative and creative design solutions. Our clients include local business owners as well as larger corporations seeking to tell their unique visual story through original design.
        </div>

        <div>
            <h2><a href="">Typography Design</a></h2>
            <p>We understand the importance of creating a lasting visual impact. Our Typography Design services are fully customized to suit our clients’ needs, allowing us to create the perfect message, from the smallest details.
        </div>
    </body>
</html>